body {
    margin: 0;
    padding: 0;
    background-color: #FFEFD5;
    font-family: 'Arial', sans-serif;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Posiziona il video dietro agli altri elementi */
}


#logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#logo img {
    width: 90px;
    height: auto;
}

#dateRange {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    width: 200px;
    outline: none;
    cursor: pointer;
}

#dateRange::placeholder {
    color: #999;
}

#userInput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
}

.auto-search-wrapper,
#dateRange {
    margin-bottom: 15px;
}

#dateRange {
    display: block;
}

.auto-search-wrapper {
    position: relative;
    display: inline-block;
}

    
#travel {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background-color: #FFAA00;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
    width: 30px; /* Imposta la larghezza del pulsante */
    height: 30px; /* Imposta l'altezza del pulsante */overflow: hidden; /* Nascondi eventuali contenuti che fuoriescono dalle dimensioni del pulsante */
}
    
#travel img {
    width: 100%;
    height: auto;
}
    
#travel:hover {
    opacity: 0.8;
}

.ui-datepicker.ui-datepicker-multi  {
    width: 100% !important;
}

.ui-datepicker-multi .ui-datepicker-group {
    float: none;
}
