<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>New Itinerary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/Images/_logo_.png">
    <!--leafleatjs-->
    <link rel="stylesheet" href="../static/leafleat/leaflet.css">
    <script src="../static/leafleat/leaflet.js"></script>

    <!--jquery/jqueryui-->
    <script src="../static/jquery-ui-1.13.2/external/jquery/jquery.js"></script>
    <link rel="stylesheet" href="../static/jquery-ui-1.13.2/jquery-ui.css">
    <script src="../static/jquery-ui-1.13.2/jquery-ui.js"></script>

    <script src="../static/js/jquery.ui.touch-punch.min.js"></script>

    <!--our script-->
    <link rel="stylesheet" href="../static/css/newItinerary.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/carousel.css">
</head>
<body>
<div id="logo">
        <a href="index.html">
            <img src="../static/Images/_logo_.png" alt="Logo">
        </a>
</div>
    <div class="navbar">
        <button class="action-button" id="itineraryButton">My Itineraries</button>
        <button class="action-button" id="loginButton"></button>
    </div>

<div id="newItineraryContainer">
    <div id="leftContainer">
        <div id="button_accordion">
            <h1 id="header_accordion"></h1>
            <div id="filterButtonsContainer">
                <button class="filterButtons" id="restaurantAndFastFoodButton">RESTAURANT AND FAST FOOD</button>
                <button class="filterButtons" id="museumAndGalleryButton">MUSEUM AND ART GALLERY</button>
                <button class="filterButtons" id="viewPointAndArtworkButton">VIEWPOINT AND ARTWORK</button>
                <button class="filterButtons" id="attractionAndThemeParkButton">ATTRACTION AND PARK</button>
                <button class="filterButtons" id="zooAndAquariumButton">ZOO AND AQUARIUM</button>
            </div>
        </div>

        <div id="map"></div>

        <div class="loading-container">
            <img class="airplane" src="../static/Images/aero.png" alt="Airplane">
        </div>
        <div id="suggestedPlacesContainer"><!--suggestedPlace--></div>

    </div>

    <div id="itineraryBox">
        <form id="myForm">
            <div id="itineraryAccordion"></div>
            <input type="submit" id="saveButton" value="Save">
        </form>
    </div>

</div>



    <!--our script-->
    <script src="../static/js/mapLibrary.js"></script>
    <script src="../static/js/myLib.js"></script>
    <script src="../static/js/navbar.js"></script>
    <script src="../static/js/newItineraryMapHandler.js"></script>
    <script src="../static/js/newItineraryHandler.js"></script>
</body>
</html>