.navbar {
    display: flex;
    justify-content: flex-end; /* Align buttons to the start (left) */
}

.action-button {
    background-color: transparent;
    color: #ff9500;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #FED8B1;
}