#logo {
    float: left;
    margin-bottom: 5px;
}
#logo img {
    width: 90px;
    height: auto;
}
#contenitore-logo {
    height: auto; /* O imposta l'altezza desiderata */
}

body {
    background-color: #f0f0f0; /* Colore di sfondo generale */
    font-family: 'Arial', sans-serif;
    margin: 0;
}

#newItineraryContainer {
    display: flex;
    flex-direction: row;
    background-color: #fff; /* Colore di sfondo del container principale */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombra per il container principale */
    margin: 20px;
}


#leftContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#filterButtonsContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.filterButtons {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.filterButtons:hover {
    opacity: 0.8;
}


#restaurantAndFastFoodButton {
    background-color: #8ecae6;
    color: #fff;

}

#museumAndGalleryButton {
    background-color: #219ebc;
    color: #fff;
}

#viewPointAndArtworkButton {
    background-color: #023047;
    color: #fff;
}

#attractionAndThemeParkButton {
    background-color: #ffb703;
    color: #fff;
}

#zooAndAquariumButton {
    background-color: #fb8500;
    color: #fff;
}

#map {
    height: 300px;
    border: 1px solid #ddd; /* Bordo sottile per la mappa */
    margin-bottom: 20px;
}

#suggestedPlacesContainer {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-y: scroll;
}

.suggestedPlace {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-family: 'Hedvig Letters Serif', serif; 
    font-size: 16px; 
}

#itineraryBox{
    width: 40%;
}

#itineraryAccordion {
    background-color: #fff; /* Colore di sfondo dell'accordion */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Hedvig Letters Serif', serif; 
    font-size: 16px; 
}

.accordionContent{
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

.textAreaContainer{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.textArea{
    resize: none;
    height: 100px; /* Set the desired height in pixels */
    width: auto;
}

.loading-container {
    position: relative;
    width: 700px; /* Larghezza desiderata di suggestedPlacesContainer */
    height: 150px; /* Altezza desiderata di suggestedPlacesContainer */
    overflow: hidden; /* Nasconde eventuali elementi che escono dai limiti del contenitore */
}

.airplane {
    width: 50px; /* Larghezza dell'aeroplano */
    height: 50px; /* Altezza dell'aeroplano */
    position: absolute;
    left: -50px; /* Posizione iniziale fuori dal contenitore */
    animation: fly 4s linear infinite;
}

@keyframes fly {
    0% {
        left: -50px;
    }
    100% {
        left: 100%; /* Sposta oltre il 100% per coprire completamente il contenitore */
    }
}
.dragging { /*class of suggestedplace when is dragged*/
    width: 200px;
    height: 200px;
}

