
.ui-datepicker.ui-datepicker-multi  {
    width: 500px !important;
}

.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}

#datepicker {
    height: 300px;
    overflow-x: hidden;

}

.ui-widget { font-size: 100% }

#userInput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
}

