<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/Images/_logo_.png">
    <link rel="manifest" href="../static/manifest.json">
    <meta name="theme-color" content="white"/>

    <!--jquery/jqueryui local lib-->
    <link rel="stylesheet" href="../static/jquery-ui-1.13.2/jquery-ui.min.css">
    <script src="../static/jquery-ui-1.13.2/external/jquery/jquery.js"></script>
    <script src="../static/jquery-ui-1.13.2/jquery-ui.min.js"></script>

    <!--date range picker-->
    <link rel="stylesheet" href="../static/daterangepicker-master/daterangepicker.css">
    <script src="../static/daterangepicker-master/moment.min.js"></script>
    <script src="../static/daterangepicker-master/daterangepicker.js"></script>

    <!--leafleatjs autocomplete css cdn-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tomickigrzegorz/autocomplete@1.8.3/dist/css/autocomplete.min.css"/>

    <!--custom css-->
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
</head>
<body>
    <video autoplay loop muted id="background-video">
        <source src="../static/Images/cloud.mp4" type="video/mp4">
    </video>
    <div class="navbar"></div>

<div class="content">
    <div id="userInput">
        <form action="newItinerary.html">
            <label for="destination"></label>
            <div class="auto-search-wrapper">
                <input type="text" autocomplete="off" id="destination" class="full-width" placeholder="Enter the city name"/>
                <button type="submit" id="travel" class="circular-button">
                    <img src="../static/Images/paper.png" alt="Your Image">
                </button>
            </div>
        </form>

        <label for="dateRange"></label>
        <input type="text" id="dateRange" readonly>
    </div>
</div>

<!--leafleatjs autocomplete js cdn-->
<script src="https://cdn.jsdelivr.net/gh/tomickigrzegorz/autocomplete@1.8.3/dist/js/autocomplete.min.js"></script>
<script src="../static/js/autocomplete.js"></script>

<!--date range picker-->
<script src="../static/js/homeCalendarHandler.js"></script>
<script src="../static/js/navbar.js"></script>
<script src="../static/main.js"></script>
</body>
</html>
